active-color = #4d90f0

#recipe-editor label
  display: block

#app > div
  display: flex

#recipe-index
  list-style-type: none
  padding: 0
  margin: 0

  li
    border-bottom: 1px #ccc solid
    white-space: nowrap

    a, button
      margin: 5px 0
      line-height: 40px
      height: 40px
      padding: 10px 5px
      display: inline-block
      vertical-align: middle
      box-sizing: content-box

    a
      white-space: nowrap
      width: 200px
      overflow: hidden
      text-overflow: ellipsis
      border-left: transparent 2px solid

      &.active
        border-left: active-color 2px solid

    button
      background: transparent
      border: none
      cursor: pointer
