active-color = #ff0000
border-color = #ccc

html
  color: #333
  min-width: 800px

html, .time-created
  font-family: 'Open Sans', sans-serif

h1, h2, h3, h4, h5, h6
  font-family: 'Arvo', serif

html, body, #app, #app > div
  height: 100%
  margin: 0
  padding: 0

#recipe-editor label
  display: block

#app > div
  display: flex

#recipe, #recipe-index, #recipe-editor
  height: 100%
  overflow-y: auto

  // this is a hack to fix the scrollbar being shown on firefox
  overflow-x: hidden

#recipe, #recipe-editor
  flex-grow: 1

#recipe-header
  background-color: #333
  color: white
  position: relative
  padding-right: 80px
  padding-top: 5px
  box-sizing: border-box
  height: 80px

  .time-created
    font-size: 10px
    display: block
    margin-top: 5px

  h1, a
    display: inline-block

  h1
    margin: 0
    padding: 10px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    display: block

  a
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 80px
    font-size: 0
    background-image: url('./icon/edit.svg')
    background-repeat: no-repeat
    background-position: center
    background-size: 30px

#recipe-editor #recipe-header a
  background-size: 25px
  background-image: url('./icon/close.svg')
  transition: background-color 0.5s ease

  &:hover
    background-color: lighten(#333, 10%)

#ingredient-editor input
  min-width: 300px

#recipe-body
  padding: 10px

recipe-button-height = 70px
recipe-button-width = 220px

#recipe-index
  list-style-type: none
  padding: 0
  margin: 0
  flex-shrink: 0
  border-right: 1px border-color solid

  li
    border-bottom: 1px border-color solid
    white-space: nowrap

    &#logo
      background-image: url('logo.png')
      background-size: auto 60px
      background-repeat: no-repeat
      background-position: center

      a
        width: 100%

    a, button
      margin: 5px 0
      height: recipe-button-height
      line-height: @height - 20px
      padding: 10px 5px
      display: inline-block
      vertical-align: middle
      box-sizing: border-box

    a
      border-width = 3px
      white-space: nowrap
      width: recipe-button-width
      text-decoration: none
      color: #333
      border-left: transparent border-width solid
      transition: border-left-color 0.25s ease

      &.active
        border-left-color: active-color

      .recipe-name
        // holds the name of the recipe and the time created
        overflow: hidden
        text-overflow: ellipsis
        width: 100%
        line-height: normal
        display: inline-block
        vertical-align: middle

      time
        display: block
        font-size: 0.5em
        color: #616161

        &:before
          content: 'created '

    button
      background: transparent
      border: none
      cursor: pointer

    button:hover, &.recipe-link a:hover, #new-recipe:hover
        background-color: darken(white, 10%)
        transition: background-color 0.5s ease

    #new-recipe
      width: 100%
      // recipe-button-height accounts for the size of the delete button
      min-width: recipe-button-width + recipe-button-height
      box-sizing: border-box
      text-align: left

    button.delete
      font-size: 0 // hide the "delete" text
      background-image: url('./icon/trash.svg')
      background-repeat: no-repeat
      background-position: center
      background-size: 15px
      min-width: recipe-button-height
      border-left: border-color 1px solid

#recipe-editor
  input[name="name"]
    font-weight: bold
    width: 100%

  textarea
    width: 100%
    min-height: 150px

#recipe
  img
    max-height: 300px
