active-color = #ff0000

html, body, #app, #app > div
  height: 100%
  margin: 0
  padding: 0

#recipe-editor label
  display: block

#app > div
  display: flex

#recipe, #recipe-index, #recipe-editor
  height: 100%
  overflow-y: scroll

#recipe, #recipe-editor
  flex-grow: 1
  padding: 0 10px

#recipe-index
  list-style-type: none
  padding: 0
  margin: 0
  flex-shrink: 0

  li
    border-bottom: 1px #ccc solid
    white-space: nowrap

    &#logo
      background-image: url('logo.png')
      background-size: auto 60px
      background-repeat: no-repeat
      background-position: center

      a
        width: 100%

    a, button
      margin: 5px 0
      height: 70px
      line-height: @height - 20px
      padding: 10px 5px
      display: inline-block
      vertical-align: middle
      box-sizing: border-box

    a
      border-width = 3px
      white-space: nowrap
      width: 220px
      overflow: hidden
      text-overflow: ellipsis
      border-left: transparent border-width solid

      &.active
        border-left: active-color border-width solid

    button
      background: transparent
      border: none
      cursor: pointer

    button:hover, &.recipe-link a:hover, #new-recipe:hover
        background-color: #ccc
        transition: background-color 0.5s ease

    #new-recipe
      width: 100%
      box-sizing: border-box
      text-align: left

    button.delete
      font-size: 0 // hide the "delete" text
      background-image: url('./icon/trash.svg')
      background-repeat: no-repeat
      background-position: center
      background-size: 15px
      min-width: 70px
      border-left: #ccc 1px solid

#recipe-editor
  input[name="name"]
    font-size: 1.5em
    font-weight: bold
    margin: 0.8em 0

  textarea
    width: 100%
    min-height: 150px

#recipe
  img
    max-height: 300px
